body{
    text-align: center;
    background-color: black;
    width: fit-content;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

h1, a {
    color: wheat;
    align-items: center;
}

img{
    width: 700px;
}

@media (max-width:600px) {
    .contentImage{
        width: 550px;
    }
}

@media (max-width:550px) {
    .contentImage{
        width: 500px;
    }
}

@media (max-width:500px) {
    .contentImage{
        width: 450px;
    }
}

@media (max-width:450px) {
    .contentImage{
        width: 400px;
    }
}

@media (max-width:400px) {
    .contentImage{
        width: 350px;
    }
}

@media (max-width:350px) {
    .contentImage{
        width: 300px;
    }
}

@media (max-width:300px) {
    .contentImage{
        width: 250px;
    }
}

footer {
    background-color: rgb(0, 22, 43);
    margin: 0;
    font-family: "National 2 Regular";
    font-size: 12px;
    text-align: center;
    opacity: .9;
    line-height: 12px;
    color: #dbdbdb;
}

h4{
    color: rgb(223, 24, 64);
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
